<%- include('layouts/header.ejs') %>

<h2 class="mb-4">hii! , <%= user.name %></h2>

<div class="row">

    <div class="col-md-3">
        <ul class="list-group">
            <% if(users.length > 0){
                for (user of users) { %>  
                    <li class="list-group-item list-group-item-dark cursor-pointer user-list ">
                        <img src="<%= user.image %>" alt="" width="50px" height="50px">
                        <%= user.name %>
                        </li>
                <% } %>
            <% } %>
        </ul>
    </div>

    <div class="col-md-9">

        <h3 class="start-head">Click to start chat</h3>
        <div class="chat-section">
            
            <div id="chat-container">
                


                </div>

                <form action="" id="chat-form">
                    <input type="text" name="message" placeholder="Message" class="border" id="message" required>
                    <input type="submit" value="send message" class="btn btn-primary">
                    </form>

        </div>
    </div>

</div>

<script>

    let sender_id = '<%= user._id %>';
    var socket = io('/users-namespace' , {
        auth:{
            token:sender_id,
        }
    });



    $(document).ready(function(){
        
        $('.user-list').click(function(){
            $('.start-head').hide();
            $('.chat-section').show();
        })

    });

</script>


<%- include('layouts/footer.ejs') %>